@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto-Regular.ttf')
  font-weight: 400

@font-face
  font-family: Roboto
  src: url('../assets/fonts/Roboto-Bold.ttf')
  font-weight: 700

@font-face
  font-family: Oswald
  src: url('../assets/fonts/Oswald-Medium.ttf')
  font-weight: 500

$main-font: 400 16px Roboto
$second-font: 700 16px Roboto
$header-font: 500 24px Oswald

$light-text-color: white
$dark-text-color: #444
$placeholder-text-color: grey
$light-background: white
$dark-background: #0e0713

$xs: 768px
$md: 992px
$lg: 1200px

=central()
  display: flex
  justify-content: center
  align-items: center