include components/components
doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Пробный сайт
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        main
            section.first
                header
                    .container
                        .row
                            .col-md-3
                                +logo()
                            .col-md-4.col-md-offset-5
                                .address
                                    .pic-line
                                        i.fa.fa-phone
                                        tel +7 (812) 981-28-43
                                    span г. Санкт Петербург
                .container
                    .row
                        .col-sm-8.col-md-5.col-lg-4.col-md-offset-1
                            h1.
                                взыскание неустойки с застройщика по договору долевого участия в строительстве
                    .row.text
                        .col-lg-10.col-lg-offset-1
                            p.
                                Санкт-Петербургская  Региональная общественная организация потребителей «Династия» в соответствии с ФЗ РФ от 07.02.1992г. №2300-I “О защите прав потребителей” бесплатно оказывает комплексную юридическую помощь, в том числе консультации, анализ договоров долевого участия, урегулирование спорных ситуаций (в досудебном и судебном порядке).
                .container
                    +contacts-min()
            section.second
                .container.light
                    +header('Мы предлагаем', 'logo-dark.svg')
                    .row
                        .col-md-4.offer
                            +offer('assets/img/buildings.jpg')
                        .col-md-8
                            h3 Помощь при взыскании неустойки по ДДУ с застройщика
                            p.
                                Взыскать неустойку по ДДУ дольщик имеет право в случае нарушения сроков строительства многоквартирного дома. Если застройщик нарушает условия договора и не выполняет взятые на себя обязательства, то дольщик имеет право взыскать неустойку с застройщика по ДДУ, а то и вовсе расторгнуть договор.
                            p.
                                Защитить интересы дольщика могут юристы Санкт-Петербургская  Региональная общественная организация потребителей «Династия».
            section.third
                .container
                    +header('Когда мы можем помочь?', 'logo-dark.svg')
                    .row
                        .col-md-4
                            +offer2('assets/img/construction.jpg','1. Застройщик нарушает сроки сдачи объекта долевого строительства.')
                        .col-md-4
                            +offer2('assets/img/handover.jpg','2. Застройщик уклоняется от передачи прав собственности.')
                        .col-md-4
                            +offer2('assets/img/breach.jpg','3. Вы хотите прекратить договор долевого участия.')
            section.fourth
                .container
                    +header('По закону суд должен взыскать в вашу пользу', 'logo.svg')
                    .row
                        .col-lg-8.col-lg-offset-2.
                            В случае несоблюдения Застройщиком сроков сдачи жилья, суд взыскивает в Вашу пользу
                    .row
                        .col-md-4
                            +benefit('money', '1. Неустойку в полном объеме', '214-ФЗ')
                        .col-md-4
                            +benefit('heartbeat', '2. Компенсация моралього вреда', 'ст. 15 Закона «О Защите прав потребителей».')

                        .col-md-4
                            +benefit('balance-scale', '3. Штраф в размере 50% от взысканной суммы', 'п. 6 ст. 13 закона «О Защите прав потребителей»')
                .container
                    +calculator()
            section.fifth
                .container
                    +header('Мы делаем все возможное, чтобы Вы получили максимальную выплату.', 'logo-dark.svg')
                    .row
                        .col-md-4
                            +results('ООО "Планета"', '01.07.2014', 231283.81, 120641.40, 10000)
                        .col-md-4
                            +results('ООО "Планета"', '01.07.2014', 231283.81, 120641.40, 10000)
                        .col-md-4
                            +results('ООО "Планета"', '01.07.2014', 231283.81, 120641.40, 10000)

            section.seventh
                .container
                    +header('Почему стоит обратиться к нам и наши услуги бесплатны?', 'logo.svg')
                    p.
                        Санкт-Петербургская  Региональная общественная организация потребителей «Династия» действует на основании  ФЗ № 2300-1 «О защите прав потребителей» от 07.02.1992 г.
                    p.
                        В случае отказа застройщика или кредитной организации урегулировать спор с потребителем в досудебном порядке и обращаясь к нам, Вы получаете сумму своих требований, а сверх этого суд взыскивает в пользу вас и общественной организации штраф, в равных долях всоответствии с частью 6 статьи 13. ФЗ № 2300-1 «О защите прав потребителей» от 07.02.1992 г.
                .container
                    +contacts-min()
            section.ninth
                .container
                    +header('Хотите расторгнуть ДДУ и вернуть свои деньги с процентами?', 'logo.svg')
                    .row
                        .col-md-8.col-md-offset-2.
                            В соответствии с 214 ФЗ и ст. 395 ГК РФ, застройщик обязан вернуть Вам деньги по договору с дополнительными процентами.
            section.eighth
                .container
                    +header('Так же мы предлагаем юридическую помощь', 'logo-dark.svg')
                    .row
                        +helps('assets/img/flood.jpg','Защита прав при заливе квартиры.')
                        +helps('assets/img/car.jpg','Защита прав автовладельцев.')
                        +helps('assets/img/tourism.jpg','Защита прав туристов.')
                        +helps('assets/img/furniture.jpg','Защита прав при покупке некачественной мебели.')
            //section.tenth
            //    .container.light
            //section.eleventh
            //    .container
            //        +header('О нас', 'logo.svg')
            section.twelfth
                .container
                    +header('Свяжитесь с нами', 'logo.svg')
                    .row
                        .col-md-6
                            img.img-rounded(src="assets/img/svide.png" alt="document" height=350)
                        .col-md-6.text-left
                            h4 Санкт-Петербургская региональная общественная организация потребителей "ДИНАСТИЯ"
                            p ОГРН: 1157800002250
                            p ИНН: 7811198379
                            p КПП: 781101001
                            .pic-line
                                i.fa.fa-envelope
                                a(href="mailto:info@dinastia-spb.ru") info@dinastia-spb.ru
                            .pic-line
                                i.fa.fa-phone
                                tel +7 (812) 981-28-43
                    +contacts-max()
        footer
            section.first
                .container
                    .copiright Региональная общественная организация потребителей «Династия». Все права защищены.

        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/3.3.6/scrollreveal.min.js")
        script(src="js/script.js")