include components/components
doctype html
html(lang="ru")
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        title Пробный сайт
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        header
            section.first
                .container
                    .row
                        .col-md-3
                            include components/logo
                        .col-md-4.col-md-offset-5
                            .contacts
                                tel +7 (812) 981-28-43
                                span г. Санкт Петербург
            section.second
                .container

        main
            section.first
                .container
                    .col-sm-8.col-md-5.col-lg-4.col-md-offset-1
                        h1.
                            БЕСПЛАТНАЯ ЗАЩИТА ПРАВ ПОТРЕБИТЕЛЕЙ В
                            СУДЕ ПРИ УЩЕРБЕ СВЫШЕ 50 ТЫСЯЧ РУБ
                .container
                    include components/contacts
            section.second
                .container.light
                    +header('Мы предлагаем')
                    .row
                        .col-md-4
                            +offer('assets/img/car.jpg', 'Защита прав автовладельцев')
                        .col-md-4.offer
                            +offer('assets/img/buildings.jpg', 'Защита прав дольщиков')
                        .col-md-4.offer
                            +offer('assets/img/tourism.jpg', 'Защита прав туристов')
            section.third
                .container.light
                    +header('Когда мы можем помочь?')
                    .row
                        .col-md-4
                            h3 Lorem ipsum
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                        .col-md-4
                            h3 Lorem ipsum
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                        .col-md-4
                            h3 Lorem ipsum
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
            section.fourth
                .container
                    +header('По закону с неустойкой суд должен взыскать в вашу пользу')
                    .row
                        .col-md-4
                            +benefit('heartbeat', '1. Компенсация моралього вреда', 'ст. 15 Закона «О Защите прав потребителей».')
                        .col-md-4
                            +benefit('money', '2. ШТРАФ В РАЗМЕРЕ 50% ОТ ВЗЫСКАННОЙ СУММЫ', 'п. 6 ст. 13 закона «О Защите прав потребителей»')
                        .col-md-4
                            +benefit('balance-scale', '3. Судебные издержки', 'ст. 98-100 ГПК РФ')
            section.fifth
                .container
                    +header('Мы делаем все возможное, чтобы Вы получили максимальную выплату.')
                    .row
                        .col-md-4
                            +results('ООО "Планета"', '01.07.2014', 231283.81, 120641.40, 10000)
                        .col-md-4
                            +results('ООО "Планета"', '01.07.2014', 231283.81, 120641.40, 10000)
                        .col-md-4
                            +results('ООО "Планета"', '01.07.2014', 231283.81, 120641.40, 10000)
            section.sixth

            section.seventh
                .container
                    +header('Наши юристы и адвокаты')
                    .row
                        .col-md-5
                            h3 Lorem ipsum dolor
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi minima nam non quos, repellendus sequi voluptas. Aliquid reprehenderit repudiandae sit.
                        .col-md-7
                    .row
                        .col-md-3
                            +stuff('assets/img/stuff1.jpg', 'Lorem Ipsum', 'Lorem', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
                        .col-md-3
                            +stuff('assets/img/stuff2.jpg', 'Lorem Ipsum', 'Lorem', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
                        .col-md-3
                            +stuff('assets/img/stuff3.jpg', 'Lorem Ipsum', 'Lorem', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
                        .col-md-3
                            +stuff('assets/img/stuff4.jpg', 'Lorem Ipsum', 'Lorem', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.')
                .container
                    include components/contacts
            section.eighth
                .container
                    +header('Ваш застройщик уклоняется от передачи прав собственности?')
                    .row
                        .col-md-6.col-md-offset-3
                            h3 Мы готовы взять на себя:
                    .row
                        +actions('folder-open-o','1. Сбор необходимых документов')
                        +actions('pencil-square-o','2. Составление искового заявления и сопровождение дела')
                        +actions('file-text-o','3. Получение и передачу Вам свидетельства о регистрации права')

            section.nineth
                .container
                    +header('Хотите расторгнуть ДДУ и вернуть свои деньги с процентами?')
            section.tenth
                .container.light
            section.eleventh
                .container
                    +header('О нас')
                    .row
                        .col-md-6
                            img(src="assets/img/svide.png" alt="document" height=350)
                        .col-md-6.text-left
                            h4 Санкт-Петербургская региональная общественная организация потребителей "ДИНАСТИЯ"
                            p ОГРН: 1157800002250
                            p ИНН: 7811198379
                            p КПП: 781101001
                            a(href="mailto:info@dinastia-spb.ru") E-mail:info@dinastia-spb.ru
            section.twelveth
                .container.light
                    +header('Контактные данные')
                .map
                    iframe(width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%D0%A8%D0%BB%D0%B8%D1%81%D1%81%D0%B5%D0%BB%D1%8C%D0%B1%D1%83%D1%80%D0%B3%D1%81%D0%BA%D0%B8%D0%B9%20%D0%BF%D1%80%D0%BE%D1%81%D0%BF%D0%B5%D0%BA%D1%82%2C%2014%2C%20%D0%A1%D0%B0%D0%BD%D0%BA%D1%82-%D0%9F%D0%B5%D1%82%D0%B5%D1%80%D0%B1%D1%83%D1%80%D0%B3%2C%20%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D1%8F&key=AIzaSyA8rAm1rbaZ63B_lmFJozNIrOBU9Tem11I" allowfullscreen)
        footer
            section.first
                .container
                    .copiright Юридическая компания "Династия". Все права защищены.