doctype html
html
    head
        meta(charset='UTF-8')
        title Пробный сайт
        link(rel='stylesheet' href='css/main.css')
    body
        header
            section.header-first
                .container
            section.header-second
                .container
        main

